body {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11pt;
  max-width: 970px;
  margin: auto;
  padding: 8px;
}

h1 {
  border-bottom: 1px solid #ddd;
}

main {
  border: 1px solid #ddd;
  border-radius: 5px;
}

h2 {
  margin: 0;
  padding: 16px 8px;
  background-color: whitesmoke;
  border: transparent;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  border-top: 1px solid #ddd;
  display: flex;
}

li > * {
  padding: 8px;
  overflow: auto;
}

@media (max-width: 640px) {
  li {
    flex-direction: column;
  }

  li > * {
    padding: 8px;
    overflow: auto;
  }

  li label {
    padding-bottom: 4px;
  }

  li span {
    padding-top: 0;
  }
}

label {
  font-weight: bold;
  display: inline-block;
  min-width: 140px;
}

label.curl {
  display: none;
}

main.curl label.title {
  display: none;
}
main.curl label.curl {
  display: inline-block;
}
