<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} -s [OR]
	RewriteCond %{REQUEST_FILENAME} -l [OR]
	RewriteCond %{REQUEST_FILENAME} -d

	RewriteRule ^.*$ - [NC,L]
	RewriteRule ^. index.php [NC,L]
</IfModule>

Header set Content-Security-Policy: "script-src 'none'; object-src 'none'; base-uri 'none';"
Header unset X-Powered-By
